@font-face {
  font-family: digital-7;
  src: url('../fonts/digital-7.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

button {
  width: 60px;
  height: 50px;
  border-color: white;
  color: black;
  font-weight: bold;
  font-size: 12pt;
}

button:focus {
  outline: none;
}


#githubButton {
  background: url('../github.png') no-repeat top left;
  background-size: 40px 40px;
  background-position: center;
  background-color: white;
  color: transparent;
}


#ACbutton {
  background-color: red;
}

.opButton {
  background-color: orange;
}

#calculator {
  width: 350px;
  border-style: solid;
  border-color: black;
  background-color: white;
}

#buttons {
  width: 325px;
  height: auto;
  margin: 0 auto;
  padding: 10px;
}

#display {
  background-color: white;
  border-style: solid;
  border-color: white white black white;
  height: 50px;
  line-height: 50px;
  text-align: right;
  vertical-align: middle;
  font-family: digital-7;
  font-size: 25px;
}
